<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon">
        <mat-icon>menu</mat-icon>
      </div>
      <img
        src="https://pngimg.com/uploads/amazon/amazon_PNG25.png"
        class="header_menu_logo"
        alt=""
      />
      <div class="header_menu_searchbar_">
        <input type="text" class="header_menu_input" />
        <div class="header_menu_seachbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
    <div class="header_menu_signIn">
      <span class="header_menu_top_item">Hello, Sign In</span>
      <span class="header_menu_bottom_item">Account & Lists</span>
    </div>
    <div class="header_menu_signIn">
      <span class="header_menu_top_item">Returns</span>
      <span class="header_menu_bottom_item">& orders</span>
    </div>
    <div class="header_menu_cart">
      <mat-icon>shopping_cart</mat-icon>
      <p class="header_cart_number">3</p>
    </div>

    <nav class="header_bottom"></nav>
    <span class="header_left_line_one">delivery to</span>
    <span class="header_left_line_two">& canada</span>
  </nav>
</div>
